:root {
    /* colors */
    --black: hsl(250, 18%, 19%);
    --white: hsl(0, 0%, 100%);
    --text-color: hsl(220, 9%, 46%);
    --option-text-color: hsl(250, 18%, 19%);
    --bg-color-body: hsl(0, 0%, 11%);
    --bg-color: hsl(152, 81%, 96%);
    --accent-color: hsl(160, 84%, 39%);
    --accent-text: hsl(142, 82%, 65%);
    --field-color: hsl(215, 30%, 22%);
    --hr-color: hsl(255, 5%, 84%);
    --bg-input-color: hsl(0, 0%, 87%);
    --btn-shadow-color: rgba(0, 0, 0, 0.5);
    --focus-color: hsla(251, 18%, 19%, 0.50);
    /* fonts */
    --karla-font: 'Karla', sans-serif;
    --inter-font: 'Inter', sans-serif;
}