@use "../util/" as u;

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding-bottom: u.em(50);
}

.container {
    width: u.em(550);
    height: u.em(550);
    padding: u.em(115) u.em(52);
    flex-shrink: 0;
}

.block {
    display: block;
}

.passwords--container {
    display: flex;
    margin-top: u.rem(35);
    border-top: 1px solid var(--hr-color);
    padding: u.rem(35) 0;
}