@use "../util/" as u;

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    padding-bottom: u.em(50);
}

footer {
    margin-top: u.rem(25);
}

main {
    position: relative;
}

.container {
    width: u.em(700);
    height: u.em(750);
    padding: u.em(90) u.em(52) u.em(45);
    flex-shrink: 0;
}

.block {
    display: block;
}

.passwords--inputs {
    padding-bottom: u.em(35);
    padding-left: u.em(25);
}

.passwords--container {
    display: flex;
    flex-wrap: wrap;
    gap: u.rem(25);
    margin-top: u.rem(35);
    border-top: 1px solid var(--hr-color);
    padding: u.rem(35) 0;
}