.generate-btn {
    background-color: var(--accent-color);
    color: var(--white);
    font-weight: 500;
    line-height: 150%;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: 
        box-shadow ease-in-out 250ms,
        transform ease-in-out 250ms,
        background-color ease-in-out 75ms,
        color ease-in-out 75ms;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.5);
        transform: translateY(-0.25em);
    }

    &:active {
        background-color: hsl(160, 47%, 44%);
        color: hsla(0, 0%, 100%, 0.733);
    }
}

.toggle-theme-btn {
    border: none;
    cursor: pointer;
    background-color: red;
}