@use "../util/" as u;

.option {
    display: grid;
    grid-template-columns: 40% 60%;
    color: var(--black);
    font-size: u.rem(16);
    margin-bottom: 0.5rem;
}

.option label {
    align-self: end;
}

.option input {
    align-self: center;
}

.option input:focus {
    outline: 2px solid hsla(251, 18%, 19%, 0.50);
}

.option input[type="checkbox"] {
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: u.rem(16);
    height: u.rem(16);
    cursor: pointer;

    &:checked {
        background-color: var(--accent-color);
        background: 
            var(--accent-color) 
            url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 
            3px 3px no-repeat;
    }
}

#pw-length {
    width: 20%;
    padding: u.rem(3) u.rem(10);
    border: none;
    background-color: #DDD;
    border-radius: 4px;
}