.passwords--output {
    width: 285px;
    height: 39px;
    background-color: var(--field-color);
    color: #5DEF92;
    text-align: center;
    font-weight: 500;
    line-height: 200%;
    padding: 4px;
    border-radius: 6px;
}