.dark-theme {
    --bg-color: hsl(215, 28%, 17%);
    --black: hsl(152, 81%, 96%);
    --text-color: hsl(221, 18%, 76%);
    --option-text-color: hsl(221, 18%, 76%);
    --bg-input-color: hsla(0, 0%, 87%, 0.75);
    --hr-color: hsla(255, 5%, 84%, 0.25);
    --btn-shadow-color: hsla(0, 0%, 45%, 0.5);
    --focus-color: hsla(251, 22%, 62%, 0.75);
}